body {
    font-family: sans-serif;
    background-color: #e9f0ff;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 360px;
    padding: 40px 20px;
}
h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
}
.gos {
    color: #005bd1;
}
.uslugi {
    color: #d52b1e;
}
.form-group {
    margin-bottom: 20px;
    position: relative;
}
input[type="text"],
input[type="password"],
input[type="number"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
}
button {
    width: 100%;
    padding: 12px;
    background-color: #005bd1;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
.link {
    text-align: center;
    margin-top: 20px;
}
